*{
    background-color: aliceblue;
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;

  
}

.hero{
    width:80%;
    margin:auto;

}

.navbar{
    margin:30px auto;
    display:flex;
    align-items: center
}

.navbar img{
    width:100px;
}

ul{
    flex:1;
    text-align:right
}

ul li{
    display:inline-block;
    list-style: none;
    margin:0 25px;

}

ul li a{
    text-decoration: none;
    color:#000;
    padding:0 10px;
    position: relative;

}

ul li a::after{
    content:'';
    width:0;
    height:10px;
    background: rgb(252, 58, 110);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.5s;
}


ul li a:hover::after{
    width:100%
}

.navbar-icons i {
    height:25px;
    margin-left:40px;
    cursor:pointer;
   

}

.navbar-icons{
    margin-left:40px;
}

.banner{
    display:flex;
    margin-top: 80px;
   
}

.left-column, .right-column{
    flex-basis:50%;

}

.right-column img{
    width:90%;

}

.search-box{
    widows: 45px;
    display:flex;
    padding-bottom:3px;
    border-bottom:1px solid #ddd;
    margin: 10px 0 30px;

}
.search-box .fas{
    height:25px;
    width: 25px;
    cursor: pointer;
}

.search-box input{
    width: 60%;
    margin-left: 15px;
    font-size:17px;
    border:0;
    outline:none;

}

.left-column h1{
    font-size:70px;
}

.left-column h3{
    font-size: 25px;
}
span{
    color:rgb(230, 102, 147);
}

.left-column p{
    font-size:14px;
   color: #999;
    margin:50px 0;

}

.btn button{
    padding: 7px 30px;
    margin-right:15px;
    outline:none;
    border:1px solid #fb7381;
    border-radius:20px;
    cursor: pointer;
    color: #fb7381;
    background:transparent;
}
.btn .primary-btn{
    background: linear-gradient(#fb7381,#f14a60);
    box-shadow: 0 2px 15px rgba(248,38,103,0.26);
    color:#fff;
}
.btn{
    margin-bottom:50px;

}

.social-icons{
    width:200px;
    text-align:center;
    opacity:.4;
    position: relative;
    margin-left:160px ;
}
.social-icons i{
    height:50px;
    margin: 0 14px;
}

.social-icons::after{
    content:'';
    width:150px;
    height: 2px;
    background: #000;
    position: absolute;
    left:-160px;
    top:10px;

}
footer{
   
 

  
   position: absolute;;
   bottom: 0;
   right: 0;
   width: 300px;
  
}
@media screen and (max-width: 800px) {
  


    .left-column h1{
        font-size:50px;
    }
    .left-column h3{
        font-size:34px;
    }
  }


  @media screen and (max-width: 900px) {
    .right-column{
        display: none;
    }

  }